<div id="passwords">
  <div class="center" *ngIf="loading">
    <mat-spinner class="login-spinner"></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Website Column -->
      <ng-container matColumnDef="website">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Website </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.website}} </mat-cell>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Username </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="password">
        <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
      </ng-container>

      <!-- Notes Column -->
      <ng-container matColumnDef="notes">
        <mat-header-cell *matHeaderCellDef> Notes </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.notes}} </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <button mat-button class="center-btn" (click)="editPassword(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button class="center-btn" (click)="deletePassword(element._id, element.website, i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 30, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>