/* Structure */
table {
    width: 100%;
}

#passwords {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.center {
    margin-top: 30%;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}